html,
body {
  background-color: rgb(36, 36, 36);
  height: 100%;
  font-family: "Roboto", sans-serif;
}

* {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chat-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#chat {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input {
  width: 100%;
  border: 1px solid rgba(83, 83, 83, 0.767);
  height: 50px;
  padding: 0 20px;
  font-size: 14px;
  border-radius: 10px;
}

.message {
  display: flex;
  background-color: rgb(29, 29, 29);
  width: max-content;
  word-wrap: break-word;
  gap: 10px;
  max-width: 90%;
  margin: 15px 0 15px 10px;
  padding: 10px;
  border: 1px solid rgba(68, 68, 68, 0.302);
  box-shadow: 1px 2px 1px black;
  border-radius: 10px;
}

.message p {
  max-width: 75%;
}

.message strong {
  display: flex;
  gap: 4px;
}

.error {
  width: auto;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(71, 0, 0, 0.596);
  border-radius: 10px;
  background-color: rgb(136, 0, 0);
  font-size: 17px;
  font-weight: bold;
}

.username {
  background-color: rgb(35, 50, 82);
  width: 35%;
  font-size: 1.2rem;
}

.message_input {
  background-color: rgb(56, 56, 56);
  font-size: 1.2rem;
}

.message_panel {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

button {
  cursor: pointer;
  width: 15%;
  height: 50px;
  font-size: 14px;
  background: rgb(48, 68, 112);
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: #fff;
  margin-left: 0.5rem;
  border-radius: 10px;
  font-size: 1.1rem;
  border: none;
}

button:hover {
  background: rgb(41, 59, 98);
}

.messages {
  width: 100%;
  height: 500px;
  margin: 20px 0;
  border: 1px solid rgba(68, 68, 68, 0.541);
  padding: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  word-wrap: break-word;
  border-radius: 10px;
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .username {
    width: 100%;
  }

  .messages {
    font-size: 1.1rem;
  }

  button {
    width: 30%;
  }

  @media (max-width: 430px) {
    .message p {
      max-width: 60%;
    }
  }
}
